<p>Voila! You can now enter questions for:<h3><%= @survey.name() %></h3></p>

<form method="post" action="/surveys/<%= @survey.id() %>">
  <label>Add a question:</label>
  <input name="description" type="text" placeholder="Question">
  <button value="submit">Add</button>
</form>


<!-- Survey questions should go here? -->
<% if @questions.any?() %>
<p>Here are your questions</p>
<ul>
  <% @questions.each() do |question| %>
  <li><%= question.description() %></li>
  <% end %>
  <% else %>
  <p>There aren't any questions</p>
</ul>
<% end %>

<form method="post" action="/surveys">
  <input name="_method" type="hidden" value="delete">
  <div class="form-group">
    <label class="form-label" for="id">Delete a question:</label>
    <select name="id">
      <% @questions.all().each() do |question| %>
      <option value="<%= question.id() %>"><%= question.description() %></option>
      <% end %>
    </select>
  </div>
  <button type="submit">Delete!</button>
</form>

<hr>
<a href="/">Back</a>
